html, body {
	margin: 0;
	height: 200%;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Helvetica Neue";
}

.nav {
	padding: 0;
	background-color: black;
	border-radius: 5px;
	opacity: .9;
	height: 50px;
	width: 95%;
}

.nav-list {
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

#logo {
	float: left;
	position: relative;
	margin-left: 10px;
}

#form-speed {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

/*#speed-text {
	position: relative;
	font-family: helvetica;
	color: #ff564b;
	font-size: 14px;
	font-weight: 300;
}*/

.post-image {
	float: left;
	display: inline-block;
	width: 250px;
	height: 250px;
	border-radius: 150px;
	position: absolute;
	/*border: 10px;*/
	/*z-index:2;*/
}

.post {
	float:left;
	width: 250px;
	height: 250px;
	border-radius: 150px;
	position: relative;
	border: 2px solid black;
}

.post-comment-hidden {
	font-family: Arial;
	color:white;
	padding: 25px;
/*	width: 250px;
	height: 250px;
	border-radius: 150px;*/
	text-align: center;
	/*background-color:black; */
	/*opacity:.3;*/
	position: absolute;
	visibility: hidden;
	/*padding: 25px;*/
	/*border-radius: 150px;*/
	z-index:1;
}

.post-comment {
	font-family: Arial;
	color:white;
	padding: 25px;
	text-align: center;
	position: absolute;
	z-index: 1;
}

.post-content {
	/*background-color:black; */
	/*opacity:.4;*/
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 150px;
/*	z-index: 1;*/
}

.post-background {
	 width:250px;
	 height:250px;
	 position: absolute;
	 border-radius: 150px;
	 background-color:#707070 ; 
}




